.bakground {
  width: 100%;
  max-width: 1440px;
  padding: 120px 120px 75px 120px;
  background: url(../picture/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: auto;
}

.bakground__blok {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 10 0px;
}
.bakground__icons {
  width: 88px;
  height: 40px;
}

.bakground__button {
  padding: 10px 21px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.title {
  padding: 12px 4px 0px 3px;
  width: 100%;
  max-width: 1080px;
  margin-top: 78px;
}
.title__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 645px;
  font-size: 76px;
  line-height: 98px;
  color: #ffffff;
}
.title__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 470px;
  font-size: 22px;
  line-height: 37px;
  color: #ffffff;
  letter-spacing: 0.42pt;
  padding-top: 35px;
}
.title__button {
  width: 196px;
  height: 57px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  background-color: #dd9d4c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.32pt;
  margin: auto;
  margin-top: 56px;
}
.bakground__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 605px;
  margin: auto;
  padding: 40px 0px;
}
.about-blok {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding-left: 120px;
  padding-top: 105px;
  padding-bottom: 105px;
  background: #8f4c1714;
  margin: auto;
}
.about-blok__box-a {
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-blok__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 364px;
  font-size: 43px;
  line-height: 56px;
}
.about-blok__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42pt;
  padding-top: 31px;
}
.about-blok__button {
  width: 196px;
  height: 57px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  background-color: #dd9d4c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.32pt;
  margin: auto;
  margin-top: 56px;
}
.about-blok__box-b {
  width: 100%;
  max-width: 739px;
  height: 500px;
  background: url(../picture/Rectangle5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.middle-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 1440px;
  margin: auto;
}

.middle-box__blok-a {
  width: 100%;
  max-width: 776px;
  height: 676px;
  background: url(../picture/Img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.middle-box__blok-b {
  padding-left: 50px;
  padding-right: 122px;
}
.middle-box__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 478px;
  font-size: 43px;
  line-height: 56px;
}
.middle-box__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 480px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42pt;
  padding-top: 31px;
}
.middle-box__button {
  width: 196px;
  height: 57px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  background-color: #dd9d4c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.32pt;
  margin: auto;
  margin-top: 56px;
}
.blok-middle-manage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background: #8f4c1714;
  padding-top: 90px;
  padding-bottom: 91px;
  margin: auto;
}

.blok-middle-layout {
  width: 100%;
  max-width: 648px;
  height: 442px;
  background: url(../picture/blok.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 11px;
}
.blok-middle-manage__contents {
  padding: 28px;
}
.blok-middle-manage__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 413px;
  font-size: 48px;
  line-height: 56px;
  color: #1a0800;
}
.blok-middle-manage__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 441px;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-top: 31px;
}
.blok-middle-manage-button {
  width: 196px;
  height: 57px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  background-color: #dd9d4c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.32pt;
  margin: auto;
  margin-top: 56px;
}
.blok-chat {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;

  padding-bottom: 342px;
  background: #f9f6f3;

  margin: auto;
}
.blok-chat__chat-bakground {
  width: 100%;
  max-width: 632px;
  height: 522px;
  background: url(../picture/pic7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 11px;
}
.blok-chat__content {
  padding-bottom: 0px;
}

.blok-chat__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 451px;
  font-size: 51px;
  line-height: 56px;
  color: #1a0800;
}
.blok-chat__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
  max-width: 478px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-top: 31px;
}
.blok-chat__chat-blok {
  padding-top: 163px;
  padding-right: 149px;
  padding-left: 80px;
}
.blok-chat-button {
  width: 196px;
  height: 57px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  background-color: #dd9d4c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.32pt;
  margin: auto;
  margin-top: 97px;
}
.blok-technologies {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 137px;
  padding-bottom: 110px;
}

.blok-technologies__content {
  width: 100%;
  max-width: 1444px;
}
.blok-technologies__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 463px;
  font-size: 50px;
  line-height: 58px;
}
.blok-technologies__methods-box {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}
.blok-technologies-of-action {
  padding-right: 22px;
}
.blok-methods-of-action__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  padding-top: 23px;
  letter-spacing: 0.42px;
  color: #1a0800;
}
.blok-methods-of-action__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 326px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-top: 5px;
}
.blok-methods-of-action__text-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-top: 5px;
  width: 100%;
  max-width: 334px;
}

.blok-methods-of-action__text-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-top: 5px;
  width: 100%;
  max-width: 334px;
}
.blok-methods-of-action__icons-effective {
  width: 100%;
  max-width: 52px;
}
.blok-bakg-font {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 169px;

  background: #8f4c1733;
  margin: auto;
}
.blok-bakg-font__content {
  display: flex;
  justify-content: space-evenly;
}
.blok-bakg-font__icon-dox {
  display: flex;
  padding-top: 157px;
}

.blok-bakg-font__box {
  width: 100%;
  max-width: 370px;
  padding-bottom: 50px;
}
.blok-bakg-font__title {
  padding-top: 114px;
  padding-left: 120px;
}
.blok-bakg-font__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 56px;
}
.blok-bakg-font__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42px;
  padding-left: 3px;
}
.blok-bakg-font__text-box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.42px;
}
.blok-bakground-color {
  width: 100%;
  max-width: 1440px;
  height: 518px;
  background: url(../picture/stel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: auto;
}

.blok-bakground-color__box {
  padding-top: 120px;
  padding-left: 120px;
}
.blok-bakground-color__flag-box {
  display: flex;
  padding-left: 120px;
  padding-top: 24px;
}
.blok-bakground-color__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.42px;
  color: #ffffff;
  padding-top: 57px;
}
.blok-bakground-color__English {
  color: #ffffff;
  padding-left: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.flag {
  color: #cc0000;
}
.blok-bakground-color__еditions {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #ffffff99;
  padding-left: 120px;
  padding-top: 29px;
}
.blok-bakground-color__icon-text {
  padding-bottom: 7px;
}

@media screen and (max-width: 992px) {
  .bakground {
    padding: 15px;
  }
  .title__title {
    text-align: center;
    font-size: 42px;
    line-height: 45px;
  }

  .title__text {
    text-align: center;
  }

  .title__button {
    width: 100%;
  }

  .bakground__footer {
    align-items: center;
    flex-direction: column;
  }

  .bakground__footer-icons {
    width: 200px;
    height: 150px;
  }
  .about-blok {
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    padding-bottom: 15px;
    line-height: 16px;
  }
  .about-blok__box-a {
    padding: 15px;
  }
  .about-blok__title {
    font-size: 42px;
    line-height: 45px;
  }
  .about-blok__text {
    font-size: 22px;
  }
  .about-blok__button {
    width: 100%;
  }

  .about-blok__box-b {
    max-width: 100%;
  }

  .middle-box {
    flex-direction: column;
    text-align: center;
  }
  .middle-box__blok-a {
    max-width: 100%;
  }
  .middle-box__blok-b {
    padding: 15px;
  }
  .middle-box__title {
    font-size: 42px;
    line-height: 45px;
    text-align: center;
  }
  .middle-box__text {
    font-size: 22px;
    padding: 14px;
  }
  .blok-middle-manage-button {
    width: 100%;
  }
  .blok-middle-manage {
    flex-direction: column;
    text-align: center;
    padding-bottom: 0px;
  }
  .blok-middle-manage__contents {
    padding: 14px;
  }
  .blok-middle-manage__title {
    font-size: 48px;
    line-height: 56px;
    color: #1a0800;
  }
  .blok-middle-manage__text {
    font-size: 22px;
    line-height: 27px;
  }
  .blok-middle-manage-button {
    width: 100%;
  }
  .blok-middle-layout {
    padding: 15px;
  }
  .blok-chat {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .blok-chat__chat-bakground {
    padding: 15px;
  }
  .blok-chat-button {
    width: 100%;
  }
  .blok-chat__chat-blok {
    padding: 14px;
  }
  .blok-chat__title {
    font-size: 42px;
    line-height: 45px;
    color: #1a0800;
  }
  .blok-chat__text {
    font-size: 22px;
    line-height: 27px;
  }
  .blok-technologies {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .blok-technologies__content {
    padding: 14px;
  }
  .blok-technologies__title {
    font-size: 42px;
    line-height: 45px;
    padding: 14px;
  }
  .blok-technologies__methods-box {
    flex-direction: column;
    text-align: center;
    line-height: 16px;
  }

  .blok-methods-of-action {
    padding: 14px;
  }
  .blok-methods-of-action__title {
    font-size: 22px;
    line-height: 27px;
    color: #1a0800;
  }
  .blok-methods-of-action__text {
    font-size: 22px;
    line-height: 27px;
    padding: 14px;
  }
  .blok-bakg-font {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .blok-bakg-font__content {
    flex-direction: column;
    text-align: center;
    padding-bottom: 103px;
    line-height: 16px;
    padding-left: 60px;
    padding-right: 44px;
  }
  .blok-bakg-font__title {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 43px;
    line-height: 56px;
  }

  .blok-bakg-font__icon-dox {
    padding-top: 40px;
    padding-left: 45px;
  }
  .blok-bakg-font__text {
    font-size: 22px;
  }
  .blok-bakg-font__text-box {
    font-size: 22px;
    line-height: 27px;
    padding: 14px;
  }
  .blok-bakground-color {
    padding: 15px;
  }
  .blok-bakground-color__box {
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }
  .blok-bakground-color__box-icons {
    padding-right: 165px;
  }

  .blok-bakground-color__text {
    font-size: 22px;
    line-height: 27px;
  }

  .blok-bakground-color__flag-box {
    padding-left: 34px;
  }
  .blok-bakground-color__еditions {
    padding-left: 34px;
    font-size: 12px;
    line-height: 22px;
  }
  .middle-box__button {
    width: 100%;
  }
}
